@layer base {
  /* Cabinet Grotesk */
  @font-face {
    font-family: 'Cabinet Grotesk';
    src: url('./assets/fonts/cabinet-grotesk/TZVUWRP4UW5PEJWBLXHG5VVGPODI2WLC.woff2')
        format('woff2'),
      url('./assets/fonts/cabinet-grotesk/TZVUWRP4UW5PEJWBLXHG5VVGPODI2WLC.woff') format('woff'),
      url('./assets/fonts/cabinet-grotesk/TZVUWRP4UW5PEJWBLXHG5VVGPODI2WLC.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  /* Headline 1 */
  h1 {
    @apply font-heading font-black mb-2;
    font-size: 2rem;
    line-height: 1.43;

    @screen lg {
      font-size: 3rem;
    }
  }

  /* Headline 2 */
  h2 {
    @apply font-heading font-bold mb-2;
    font-size: 1.25rem;
    line-height: 1.5;

    @screen lg {
      font-size: 1.5rem;
    }
  }

  /* Headline 3 */
  h3 {
    @apply font-bold mb-2;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  /* Headline 4 */
  h4 {
    @apply font-bold mb-2;
    font-size: 1.125rem;
    line-height: 1.55;
  }

  /* Headline 5 */
  h5 {
    @apply font-bold;
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Headline 6 */
  h6 {
    @apply font-bold uppercase;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0.25em;
  }

  p {
    @apply body-lg font-normal mb-2 text-body;
  }

  label {
    @apply inline-block mb-2 body-sm font-bold cursor-pointer;

    > a {
      @apply text-primary;
    }
  }

  button,
  [role='button'],
  [type='reset'],
  [type='submit'] {
    @apply relative font-mono;
    font-size: 0.875rem;
    line-height: 1.15;
  }

  .body-lg {
    font-size: 1rem;
    line-height: 1.625;
  }

  .body-md {
    font-size: 0.875rem;
    line-height: 1.715;
  }

  .body-sm {
    font-size: 0.75rem;
    line-height: 1.666666;
  }
}
